@use "shared/scss" as *;

.linkitem {
  a {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;
    margin: 0 10px;

    &:hover {
      color: $primary-orange;
    }

    @include laptop-large {
      margin: 0 20px;
    }
  }
}
