@use "shared/scss/functions";

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin flex-centered($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}