// Colors
$primary-orange: #d87d4a;
$secondary-orange: #fbaf85;

$white: #ffffff;
$black: #000000;
$prim-black: #191919;

$second-black: #101010;

$gray-main: #f1f1f1;
$gray-secondary: #afafaf;

//padding-for navbar
$padding-mobile: 40px 30px;
$padding-tablet: 40px 40px;
$padding-laptop-small: 40px 100px;
$padding-laptop-large: 40px 180px;
$padding-desktop: 40px 200px;

//header responsive font-size
$header-responsive-tablet: calculateRem(60px);
$paragraph-responsive-tablet: calculateRem(20px);
