@use "shared/scss" as *;

.markeitngbanner {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;

  img {
    width: 100%;
    border-radius: 20px;
    margin: 10px 0;
  }

  &-text {
    text-align: center;
    margin: 10px 0;

    h1 {
      text-transform: uppercase;
      font-size: 28px;
    }

    & span {
      color: $primary-orange;
    }

    p {
      color: $gray-secondary;
      line-height: 25px;
      text-align: center;
      font-size: 15px;
    }
  }

  @include tablet {
    padding: 0 50px;
    &-text {
      h1 {
        font-size: calculateRem(45px);
        width: 500px;
        margin: 20px auto;
      }

      p {
        width: 700px;
      }
    }
  }

  @include laptop-small {
    flex-direction: row-reverse;
    padding: 0 100px;

    > .special {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    img {
      width: 70%;
    }

    &-text {
      width: 50%;
      align-items: flex-start;
      justify-content: start;
      text-align: start;

      h1 {
        width: fit-content;
      }

      p {
        width: fit-content;
        text-align: start;
      }
    }
  }

  @include laptop-large {
    height: 100vh;
    padding: 0 180px;

    img {
      width: 100%;
    }

    &-text {
      h1 {
        width: 500px;
        margin: 0 0 30px 0;
      }

      p {
        max-width: 450px;
      }
    }
  }
}
