@use "shared/scss" as *;

.amountbutton-container {
  p {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 20px 0;
  }

  &-buttons {
    display: flex;

    &__amount {
      width: 120px;
      margin: 0 20px 0 0;
      background-color: $gray-secondary;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & button:first-child {
        width: 20px;
        height: 48px;
        background-color: $gray-secondary;
        border: none;
        color: $white;
        font-size: 20px;

        &:hover {
          color: $primary-orange;
          cursor: pointer;
        }
      }

      & button:last-child {
        width: 20px;
        height: 48px;
        background-color: $gray-secondary;
        border: none;
        color: $white;
        font-size: 20px;

        &:hover {
          color: $primary-orange;
          cursor: pointer;
        }
      }
    }

    > .button {
    }
  }
}
