// Mobile
$mobile-extra-small: 320px;
$mobile-small: 375px;
$mobile: 425px;

// Tablet
$tablet-small: 768px;
$tablet: 1024px;

// Laptop
$laptop: 2180px;
$laptop-large: 1440px;

// Desktop
$desktop: 1920px;
